
<!DOCTYPE html>
<!--
Template Name: EventWings Responsive HTML Template
Version: 1.0.0
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>
 
    @RenderBody()
    @if (IsSectionDefined("cpValidation"))
    {
        @RenderSection("cpValidation",false)
    }
    else if (IsSectionDefined("suValidation"))
    {
        @RenderSection("suValidation",false)
    }
</body>

</html>
