@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_MakeMyBillLayout.cshtml";
    //Layout = null;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<link href="~/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" />

<style>
    label.error.fail-alert {
        /*border: 2px solid red;
    border-radius: 4px;*/
        line-height: 1;
        /*padding: 5px;*/
        /*background: #ffe6eb;*/
        color: red;
        /*/margin-left:150px;/
    /margin-top:15px;/*/
    }
</style>
<!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text" href="index.html">MakeMyBill</a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" >
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Home","Login")">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#plans">Plans</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Log Out</a>
                    </li>
                </ul>
               
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { id = "CPVal" }))
{
    <!-- main -->
    <div class="w3layouts-main">
        <div class="bg-layer">
            <br>
            <br>
            <h1>Change Password</h1>
            <div class="header-main">

                <div class="header-left-bottom">
                    <form action="#" method="post">
                        <div class="icon1">
                            <span class="fa fa-user"></span>
                            <input type="email" placeholder="Email Address" id="Email" name="Email">
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="OldPassword" id="Password" name="Password">
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="NewPassword" id="NPassword" name="NPassword">
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="ConfirmPassword" id="CPassword" name="CPassword">
                        </div>
                       <div class="bottom">
                            <input type="submit" class="btn btn-primary" value="Change Password">
                     </div>
                        <br>
                        <div style="color:white;">
                            @if (TempData["ErrMsg"] != null)
                            {
                                @TempData["ErrMsg"]
                            }
                        </div>

                    </form>
                </div>

            </div>


        </div>
    </div>


}

@section cpValidation
{
<script type="text/javascript">
        //following is called jquery validation plugin
    $(document).ready(function () {

        $("#CPVal").validate({
            errorClass: "error fail-alert",
            rules: {
                Email:{
                    required:true
                },
                Password:{
                    required:true
                },
                NPassword: {
                    required: true,
                },
                CPassword: {
                    required: true,
                    equalTo: "#NPassword"
                }
            },
            messages: {
                Email: {
                    required: 'Please Enter Email-Id',
                    focus() { }
                },
                Password:{
                    required: 'Please Enter Password',
                    focus() { }
                },
                NPassword: {
                    required: 'Please Enter New Password',
                    focus() { }
                },
                CPassword: {
                    required: 'Please Enter Confirm Password',
                    equalTo: "Password and Confirm Password do not match",
                    focus() { }
                }
            },
            errorPlacement:function(error,element){
                error.insertAfter(element.parent());
            }
        })

    });
</script>
}

