@model IEnumerable<MakeMyBill.Models.QuestionMaster>
@{
    ViewData["Title"] = "AddBranch";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<style>
    label.error.fail-alert {
        /*border: 2px solid red;
    border-radius: 4px;*/
        line-height: 1;
        /*padding: 5px;*/
        /*background: #ffe6eb;*/
        color: red;
        /*/margin-left:150px;/
    /margin-top:15px;/*/
    }
</style>
<script type="text/javascript">
	function focusonans()
	{
		var e = document.getElementById("Canswer");	
		e.focus();
		
	}
	
</script>

		<!-- Custom Theme files -->
	<link href="~/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />

	<!-- //Custom Theme files -->

	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
	<!-- //web font -->

@using(Html.BeginForm("AddBranch","Company",FormMethod.Post,new {id="abval"}))
{
<div class="w3layouts-main"> 
	<div class="bg-layer">
		<h1>Add Branch</h1>
		<div class="header-main">
			<div class="main-icon">
				<span class="fa fa-eercast"></span>
			</div>
			<div class="header-left-bottom">
					<div class="icon1">
						<span class="fa fa-user"></span>
						<input type="text" placeholder="Branch Name" id="Bname" name="Bname"/>
					</div>
					<div class="icon1">
						<span class="fa fa-book"></span>
						<input type="text" placeholder="Branch Address" id="Baddress" name="Baddress"/>
					</div>
					<div class="icon1">
						<span class="fa fa-phone"></span>
						<input type="text" placeholder="Phone Number" id="Bphone" name="Bphone"/>
					</div>
					<div class="icon1">
						<span class="fa fa-bank"></span>
						<input type="text" placeholder="City" id="Bcity" name="Bcity"/>
					</div>
					<div class="icon1">
						<span class="fa fa-bank"></span>
						<input type="text" placeholder="Area" id="Barea" name="Barea"/>
					</div>
					<div class="icon1">
						<span class="fa fa-user"></span>
						<input type="email" placeholder="Email" id="Bemail" name="Bemail"/>
					</div>
					<div class="icon1">
						<span class="fa fa-lock"></span>
						<input type="password" placeholder="Password" id="Bpassword" name="Bpassword"/>
					</div>
					<div class="icon1">
						<span class="fa fa-comment"></span>
						<select id="qList" name="qList" onchange="focusonans()" style="width:200px;">
							<option value="" selected="selected">Select Question</option>
							@foreach(var q in Model)
							{
								<option value=@q.Qid> @q.Questiontext </option>
							}
						</select>

					</div>
					<div class="icon1">
						<span class="fa fa-comment"></span>
						<input type="text" placeholder="Answer" id="Banswer" name="Banswer"/>
					</div>
					
					<div class="bottom">
                            <input type="submit" class="btn btn-primary" value="Add Branch">
                     </div>
			</div>
			
		</div>
		
	</div>
</div>	
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
@section abValidation
{
<script type="text/javascript">
    //following is called jquery validation plugin
    $(document).ready(function(){

        $("#abval").validate({
            errorClass: "error fail-alert",
            rules: {
                Bname: "required",

                Baddress: {
                    required: true
                },
                Bphone: {
                    required: true,
                    number: true
                },
                Bcity: {
                    required: true
                },
                Barea: {
                    required: true
                },
                Banswer: {
                    required: true,
                    
                },
                Bemail: {
                    required: true,
                    email: true,
                    remote: {
                        url: '@Url.Action("CheckEmail","Company")',
                        data: {
                            'Bemail': function () {
                                return $("#Bemail").val();
                            }
                        }
                    }
                },
                Bpassword:{
                    required:true
                },
            },
            messages: {
                Bname: {
                    required: 'Please Enter Branch Name',
                    focus() { }
                },
                Baddress: {
                    required: 'Please Enter Branch Address',
                    focus() { }
                },
                 Bphone: {
                    required: 'Please Enter Phone',
                    number: 'Please Enter Numeric value',
                    focus() { }
                },
                Barea:{
                    required: 'Please Enter Area Of Branch',
                    focus() { }
                },
                Bcity: {
                    required: 'Please Enter City Of Branch',
                    focus() { }
                },
                Banswer: {
                    required: 'Please Enter the answer',
                    focus() { }
                },
               
                Bemail: {
                    required: 'Please Enter Email Address',
                    email: 'please entern valid email address',
                    remote:'Email Id Already Exist',
                    focus() { }
                },
                Bpassword:{
                    required: 'Please Enter Password',
                    focus() { }
                },
            },
            errorPlacement:function(error,element){
                error.insertAfter(element.parent());

            }
        })

    });
</script>
}


